Microsoft.Flow/flows/8185f5b8-540a-4853-a203-4d12f66f7ae8/definition.json
{"name":"d73aae47-2796-4f84-ba82-1e132f4e73f4","id":"/providers/Microsoft.Flow/flows/d73aae47-2796-4f84-ba82-1e132f4e73f4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"OpenAI ChatGPT","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e258a75a-99bf-4916-be65-2a9b0c0e1875","type":"User","tenantId":"759f9e8b-cf6d-4ef2-b0bc-dd4bdf1e7c56"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-21T00:46:01.4364526Z","connectionKeySavedTimeKey":"2023-12-21T00:46:01.4364526Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_keywords_are_mentioned":{"metadata":{"operationMetadataId":"d38189ea-ac63-4199-937d-5a2de301af55"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"$search":"\"!GPT\"","threadType":"channel","requestBody/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","requestBody/channels":["19:29be033ac25b4fecba34e5773271e318@thread.tacv2"]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"WebhookKeywordTrigger"},"authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Get_message_details":{"metadata":{"operationMetadataId":"7826e953-84c3-4174-a5f9-57a154ba4a03"},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('Apply_to_each')?['messageId']","threadType":"channel","body/recipient/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","body/recipient/channelId":"19:29be033ac25b4fecba34e5773271e318@thread.tacv2","body/recipient/parentMessageId":"@items('Apply_to_each')?['replyToMessageId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetMessageDetails"},"authentication":"@parameters('$authentication')"}},"HTTP":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"metadata":{"operationMetadataId":"be9558d8-323b-4380-bd1b-9747f8784011"},"type":"Http","inputs":{"uri":"https://api.openai.com/v1/chat/completions","method":"POST","headers":{"Accept":"application/xml","Content-Type":"application/json","Authorization":"Bearer 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"},"body":{"model":"gpt-4-1106-preview","messages":"@variables('messages')","temperature":0,"max_tokens":2048,"top_p":1,"frequency_penalty":1,"presence_penalty":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","operationId":"HttpRequest","connection":"shared_office365"},"parameters":{"Uri":"https://api.openai.com/v1/completions","Method":"POST","Body":"{\n  \"model\": \"gpt-3.5-turbo\",\n  \"prompt\": \"@{outputs('Get_message_details')?['body/body/content']}\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0\n}","ContentType":"application/json","CustomHeader1":"Accept: application/xml","CustomHeader2":"Authorization: Bearer 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"}}},"Post_a_feed_notification":{"runAfter":{"Get_message_details":["Succeeded"]},"metadata":{"operationMetadataId":"d9dd99aa-2949-405f-8c3b-ce6aadc40635"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","notificationType":"team","body/recipient":"@outputs('Get_message_details')?['body/from/user/id']","body/previewText":"Processing... \"@{replace(replace(replace(body('Get_message_details')?['body']?['content'], '!GPT ',''), '<p>', ''), '</p>', '')}\"","body/channelRecipient/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","body/channelRecipient/channelId":"19:29be033ac25b4fecba34e5773271e318@thread.tacv2","body/messageId":"@items('Apply_to_each')?['replyToMessageId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostFeedNotification"},"authentication":"@parameters('$authentication')"}},"Find_files_in_folder":{"runAfter":{"Post_a_feed_notification":["Succeeded"]},"metadata":{"b!aAu4TvcAf0m13NddHfbBstGoTXzJlShEvxbdg2RJtbMeVFeLRiRDT40dgjrMABAy.01G2O477EEGO6235GHIJGLCRYPXCAY6KWS":"/Microsoft Teams Chat Files/ChatGPT","operationMetadataId":"b219a0f2-993c-4b39-9c2e-3eda7eed5758"},"type":"OpenApiConnection","inputs":{"parameters":{"query":"@items('Apply_to_each')?['replyToMessageId']","id":"b!aAu4TvcAf0m13NddHfbBstGoTXzJlShEvxbdg2RJtbMeVFeLRiRDT40dgjrMABAy.01G2O477EEGO6235GHIJGLCRYPXCAY6KWS","findMode":"OneDriveSearch","maxFileCount":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"FindFiles"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_file":{"metadata":{"operationMetadataId":"a941a2f3-34f9-4c03-b56a-9b1daa6148cf"},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Microsoft Teams Chat Files/ChatGPT","name":"@{items('Apply_to_each')?['replyToMessageId']}.json","body":"{  \"messages\": []}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Set_variable_1":{"runAfter":{"Create_file":["Succeeded"]},"type":"SetVariable","inputs":{"name":"new","value":true}}},"runAfter":{"Find_files_in_folder":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@length(outputs('Find_files_in_folder')?['body'])",0]},"metadata":{"operationMetadataId":"850085a8-2cc7-4f19-b399-0f639ffe721b"},"type":"If"},"Parse_JSON":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"f09057cd-5800-4ce8-8621-9b7b9a8f07ca"},"type":"ParseJson","inputs":{"content":"@base64ToString(outputs('Get_file_content_using_path')?['body']?['$content'])","schema":{"type":"object","properties":{"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string"}},"required":["role","content"]}}}}}},"Get_file_content_using_path":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"path":"/Microsoft Teams Chat Files/ChatGPT/@{item()?['replyToMessageId']}.json","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContentByPath"},"authentication":"@parameters('$authentication')"}},"Append_to_array_variable":{"runAfter":{"Set_variable":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"messages","value":{"role":"user","content":"@{replace(replace(replace(body('Get_message_details')?['body']?['content'], '!GPT ',''), '<p>', ''), '</p>', '')}"}}},"Set_variable":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"SetVariable","inputs":{"name":"messages","value":"@outputs('Parse_JSON')?['body']?['messages']"}},"Append_to_array_variable_copy":{"runAfter":{"Reply_with_a_message_in_a_channel":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"messages","value":{"role":"assistant","content":"@{body('HTTP')?['choices'][0]?['message']?['content']}"}}},"Reply_with_a_message_in_a_channel":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"154700f7-578e-48d1-b53e-a358555a4a4c"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Channel","body/parentMessageId":"@items('Apply_to_each')?['replyToMessageId']","body/recipient/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","body/recipient/channelId":"19:29be033ac25b4fecba34e5773271e318@thread.tacv2","body/messageBody":"<p>@{body('HTTP')?['choices'][0]?['message']?['content']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"ReplyWithMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Find_files_in_folder_by_path":{"runAfter":{"Append_to_array_variable_copy":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"query":"@item()?['replyToMessageId']","path":"/Microsoft Teams Chat Files/ChatGPT/@{item()?['replyToMessageId']}.json","findMode":"OneDriveSearch","maxFileCount":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"FindFilesByPath"},"authentication":"@parameters('$authentication')"}},"Condition_1":{"actions":{"Update_file_copy":{"metadata":{"b!aAu4TvcAf0m13NddHfbBstGoTXzJlShEvxbdg2RJtbMeVFeLRiRDT40dgjrMABAy.01G2O477AT4DFRRQGM3RAII5WZE2PLJVY4":"/Microsoft Teams Chat Files/ChatGPT/1703111172738.json"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Create_file')?['body/Id']","body":"{  \"messages\": @{variables('messages')}}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"UpdateFile"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_files_in_folder_by_path":["Succeeded"]},"else":{"actions":{"For_each":{"foreach":"@outputs('Find_files_in_folder_by_path')?['body']","actions":{"Update_file":{"metadata":{"b!aAu4TvcAf0m13NddHfbBstGoTXzJlShEvxbdg2RJtbMeVFeLRiRDT40dgjrMABAy.01G2O477AT4DFRRQGM3RAII5WZE2PLJVY4":"/Microsoft Teams Chat Files/ChatGPT/1703111172738.json"},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@items('For_each')?['Id']","body":"{  \"messages\": @{variables('messages')}}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"UpdateFile"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}}},"expression":{"and":[{"equals":["@variables('new')",true]}]},"type":"If"}},"runAfter":{"Initialize_variable_1":["Succeeded"]},"metadata":{"operationMetadataId":"c42d04fc-0ffd-4ffa-bd56-9d8edaabc797"},"type":"Foreach"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"messages","type":"array"}]}},"Initialize_variable_1":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"new","type":"boolean","value":false}]}}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-6c6aa62e-cce7-4cde-af73-db71c2fe7eda","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-e954ddeb-7bf5-4e5e-87c1-141cd478fece","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}